body{
    text-align: center;
    background-color:burlywood
}
.main-container{
    display: flex;
    justify-content: center;
}
.box{
    height: 200px;
    width: 200px;
    border: 5px solid black;
    border-radius: 20%;
   margin:2rem;
}
.yellow{
    background-color: #c0ca3b;
}
.red{
    background-color: #e22319;
}
.purple{
    background-color: #2a6272;

}
.green{
    background-color: #259e4b;
}
.flash{
    background-color: white;
}
.userFlash{
    background-color:green;
}
